<html lang="en">
<head>
    <title>Document</title>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <%- include('partials/header.ejs') %>

    <div class="container">
        <div class="main-form-blog">
            <div class="main-contents">
                <div class="main-content">
                    <h3><%=item.title%></h3>
                    <img src="<%=item.image%>" alt="item1">

                    <!-- <div class='more-param'>
                        
                        <div class="more" onclick="moreFunctions(event)">
                            <img src="/images/icons/vector.svg" alt='vector'>
                            Еще
                            <div class="editOrDelete">
                                <a href="/edit_blogs/<%=item._id%>">Редактировать</a>
                                <a onclick="deleteBlogs('<%=item._id%>', '<%=item.author._id%>')">Удалить</a>
                            </div>
                        </div>
                    </div> -->
                    <p><%=item.description%></p>
                </div> 
                <div class="main-content-info">
                    <div class="content-date"><img src='/images/icons/date.svg' alt="date">26.06.20</div>
                    <div class="content-visibility"><img src='/images/icons/visibility.svg' alt="visibility">21</div>
                    <div class="content-message"><img src='/images/icons/message.svg' alt="message">4</div>
                    <div class="content-forum">
                        <div><img src='/images/icons/forums.svg' alt="forums"><%=item.category.name%></div>
                        <div><img src='/images/icons/person.svg' alt="person"><%=item.author.email%></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/scripts.ejs') %>
    
</body>
</html>