<html lang="en">
<head>
    <title>Document</title>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <%- include('partials/header.ejs') %>

    <div class="container">
        <div class="main">
            <div class="main-contents">
                <div class="main-title --myBlog">
                    <h2>Мои блоги</h2>
                    <a href="/new_blogs">Новый блог</a>
                </div>
                <%
                    blogs.forEach(item => { 
                %>
                <div class="main-content">
                    <a href='/blog_details/<%=item._id%>'><img src="<%=item.image%>" alt="item1"></a>
                    <div class='more-param'>
                        <a href='/blog_details/<%=item._id%>'><h3><%=item.title%></h3></a>
                        <div class="more" onclick="moreFunctions(event)">
                            <img src="/images/icons/vector.svg" alt='vector'>
                            Еще
                            <div class="editOrDelete">
                                <a href="/edit_blogs/<%=item._id%>">Редактировать</a>
                                <a onclick="deleteBlogs('<%=item._id%>', '<%=item.author._id%>')">Удалить</a>
                            </div>
                        </div>
                    </div>
                    <p><%=item.description%></p>
                </div>
                <div class="main-content-info">
                    <div class="content-date"><img src='/images/icons/date.svg' alt="date"><%= new Date(item.createdAt).toLocaleDateString('ru-RU', { timeZone: 'Asia/Almaty' }) %> </div>
                    <div class="content-visibility"><img src='/images/icons/visibility.svg' alt="visibility">21</div>
                    <div class="content-message"><img src='/images/icons/message.svg' alt="message"><%= item.commentCount %></div>
                    <div class="content-forum">
                        <div><img src='/images/icons/forums.svg' alt="forums"><%=item.category.name%></div>
                        <div><img src='/images/icons/person.svg' alt="person"><%=item.author.email%></div>
                    </div>
                </div>
                <%
                    })
                %>

                <!-- Пагинация -->
                <div class="pages">
                <%
                    let queryString = '';
                    if (locals.search) queryString += `search=${locals.search}&`;
                    if (locals.selectedCategory) queryString += `catId=${locals.selectedCategory}&`;

                    const currentPage = locals.currentPage || 0;

                    for (let i = 0; i < pages; i++) {
                %>
                <a href="?<%= queryString %>page=<%= i %>"><%= i + 1 %></a>
                <% } %>
                
            </div>
            </div>
            <div class="profile">
                <img src="/images/profiles/avatar.png" alt="avatar">
                <h3><%=user.fullname%></h3>
                <p><%= user.bio || '' %></p>
                <%
                    if(loginUser.id == user.id){
                %>
                <div class="profile-btn">
                    <a href="/profile/edit">Редактировать</a>
                    <a href="/api/signout" style="background-color: red;margin-left: 5px;">Выход</a>
                </div>
                <%
                    }
                %>
            </div>
        </div>
    </div>

    <%- include('partials/scripts.ejs') %>
</body>
</html>